lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

public/pdf-exports
public/images

# API keys and secrets
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# Dependency directory
node_modules
package-lock.json
yarn.lock

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built
dist
build
